# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
ENV/
env/
.venv/

# Database
instance/
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
*.log
npm-debug.log*

# Uploads
uploads/

# 忽略构建入口文件，但保留 assets 目录
dist/index.html
dist/index-*.js
dist/index-*.css
